.Modal {
    left: 25% !important;
    right: 25% !important;
}

@media screen and (max-width: 960px) {
    .Modal {
        left: 7% !important;
        right: 7% !important;
        bottom: 20% !important;
    }
}

@media screen and (max-width: 600px) {
    .Modal {
        bottom: 30% !important;
    }
}